[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=C&C: Red Alert 2 Yuri's Revenge
Comment=
Exec=cncra
Icon=${SNAP}/meta/gui/cncra2yr.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=clientxna.exe
Keywords=game
